.MovieGenreFilterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  color: #eee3e3;
}

.MovieGenreFilterContainer select {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 16px;
  padding: 8px;
  border-radius: 10px;
  background-color: #f7d354;
  cursor: pointer;
}

.underline-title {
  background-color: #f7d354;
  height: 2px;
  max-width: 200px;
  margin: auto;
  margin-bottom: 20px;
}

.MovieGenreFilterContainer ul {
  list-style-type: none;
  padding: 0;
}

.MovieGenreFilterContainer li {
  margin-bottom: 10px;
}